@font-face {
    font-family: 'fuente titulo';
    src: url(../font/Shortbread_Cookies-Reg.otf);
}

.FuentePortada {
    font-family: 'fuente titulo';
    font-size: 250px;
    margin: 0 auto;
}

#bannerPortada {
    background-image: url("../img/");
}





@font-face {
    font-family: 'fuente galeria';
    src: url(../font/Super\ Croissant.ttf);
}

@font-face {
    font-family: 'Fuente para texto';
    src: url(../font/Schoolwork-Regular.ttf);
}

.portada {
    font-family: 'fuente titulo';
    font-size: 250px;
    text-align: center;
    margin: 0 auto;
}

#footer {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    background-color: #786676;
    margin: 5px auto;
    text-align: center;
    font-family: 'Fuente para texto';
    font-size: 35px;
}

#cabecera {
    background-image: url('../img/banner\ 2.jpg');
    background-size: 100%, contain;
    background-position: top, center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: #E6B75F;
    font-weight: 900;
    text-align: center;
}


#cabecera p {
    margin: 0 auto;
    font-family: 'fuente para texto';
    font-size: 280px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}


body {
    background-color: rgb(238, 226, 176);
    cursor: url("../img/cursor.cur")16 16, auto;
}

.FuenteGaleria body {
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    background-image: url('../img/fondotarjetas.jpg');
    background-repeat: repeat;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tarjeta {
    width: 350px;
    padding: 15px;
    border: 2px solid #0a3147;
    border-radius: 25px;
    background-image: url('../img/fondotarj.jpg');
    background-repeat: repeat;
    box-sizing: border-box;

}


img {
    width: 75%;
    display: block;
    margin: 0 auto;
}


#titulo {
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

#titulo+p {
    margin-top: 0;
}