@font-face {
    font-family: 'fuente titulo';
    src: url(../font/Shortbread_Cookies-Reg.otf);
}

@font-face {
    font-family: 'fuente galeria';
    src: url(../font/Super\ Croissant.ttf);
}

@font-face {
    font-family: 'Fuente para texto';
    src: url(../font/Schoolwork-Regular.ttf);
}

.portada {
    font-family: 'fuente titulo';
    font-size: 250px;
    text-align: center;
    margin: 0 auto;
}

#footer {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    background-color: #786676;
    margin: 5px auto;
    text-align: center;
    font-family: 'Fuente para texto';
    font-size: 35px;
}

body {
    background-color: rgb(238, 226, 176);
    cursor: url("../img/cursor.cur")16 16, auto;
}

.FuenteGaleria body {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.tarjeta {
    width: 350px;
    padding: 15px;
    border: 2px solid #4c2c69;
    border-radius: 25px;
    background-image: url('../img/azulejo.png');
    background-repeat: repeat;
    box-sizing: border-box;
}

img {
    width: 75%;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}


#titulo {
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

.p {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    background-color: rgba(76, 44, 105, 0.7);
    color: white;
    font-family: 'Zain', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#titulo+p {
    margin-top: 0;
}